.factory-image{
    width: 300px;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s;
}

.factory-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #4a148c;
    text-align: center;
    text-shadow: 2px 2px 6px rgba(255, 255, 255, 0.5);
    font-family: 'Arial', sans-serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}
